rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tributes/{tributeId} {
      allow read, create, update: if true;
    }
  }
}
